# Logs
logs
*.log

# Node modules directory in subprojects
node_modules/

# Distribution / build directories in subprojects
dist/
build/

# Environment files
.env
.env.*.local

# Editor-specific files
.vscode/
.idea/
.DS_Store

# Temporary files
temp/
tmp/
~$*
~*.*